1) **Derives a new table of US Customers called USACusts.** notice here we're using the derived table recieved from a subquery in our FROM clause.

In [2]:
use Northwinds2022TSQLV7

select *
from (
    select Customerid, CustomerCompanyName
    from Sales.Customer
    where CustomerCountry = N'USA'
) as USACusts

Customerid,CustomerCompanyName
32,Customer YSIQX
36,Customer LVJSO
43,Customer UISOJ
45,Customer QXPPT
48,Customer DVFMB
55,Customer KZQZT
65,Customer NYUHS
71,Customer LCOUJ
75,Customer XOJYP
77,Customer LCYBZ
78,Customer NLTYP
82,Customer EYHKM
89,Customer YBQTI

2) **Derives a table for each years number of customers.** Makes use of inline aliasing, take a peek at comments.

In [13]:
use Northwinds2022TSQLV7

-- select YEAR(OrderDate) as orderyear,
--     COUNT(distinct CustomerId) as numcusts
-- from Sales.[Order]
-- group by orderyear --obv we'll get a parsing error

select orderyear,
    COUNT(distinct custid) as numcusts
from (
    --years each customer has ordered
    select YEAR(OrderDate) as orderyear,
        CustomerId as custid --these lines will execute before our first statement so hence the aliasing is possible
    from Sales.[Order]
) as D
group by orderyear

orderyear,numcusts
2014,67
2015,86
2016,81

3) **External column aliasing, does same as above.**

In [16]:
use Northwinds2022TSQLV7

select orderyear, count(distinct custid) as numcusts
from (
    select year(OrderDate), CustomerId --notice we dont alias here
    from Sales.[Order] 
) as D (orderyear, custid) -- but here after we return the derived table!
group by orderyear

orderyear,numcusts
2014,67
2015,86
2016,81

4) **Yearly count of customers handled by Employee 3.** Uses arguments.

In [20]:
use Northwinds2022TSQLV7

DECLARE @empid AS INT = 3; --used as an argument for the table we derive

SELECT orderyear, COUNT(DISTINCT custid) AS numcusts
FROM (SELECT YEAR(OrderDate) AS orderyear, 
        CustomerId as custid
      FROM Sales.[Order]
      WHERE EmployeeId = @empid) AS D
GROUP BY orderyear;
GO

orderyear,numcusts
2014,16
2015,46
2016,30

5) **Years where number of customers exceeds 70.** Using nested derived tables for inline aliasing, notice how the top layer is easiest to read.

In [21]:
use Northwinds2022TSQLV7

SELECT orderyear, numcusts
FROM (SELECT orderyear, COUNT(DISTINCT custid) AS numcusts
      FROM (SELECT YEAR(OrderDate) AS orderyear, 
                CustomerId as custid
            FROM Sales.[Order]) AS D1
      GROUP BY orderyear) AS D2
WHERE numcusts > 70;

orderyear,numcusts
2015,86
2016,81

6) **Same as above, but not as readable as you can see due to top level aliasing.**

In [22]:
use Northwinds2022TSQLV7

SELECT YEAR(OrderDate) AS orderyear, COUNT(DISTINCT CustomerId) AS numcusts
FROM Sales.[Order]
GROUP BY YEAR(OrderDate)
HAVING COUNT(DISTINCT CustomerId) > 70;

orderyear,numcusts
2015,86
2016,81

7. **Number of current customers, previous customer, and growth of customers for each year.** Using two subquery to create tables of current customers, previous customers, uses left join to combine row with certain criteria, preserves NULLS.

In [31]:
use Northwinds2022TSQLV7

SELECT Cur.orderyear, 
  Cur.numcusts AS curnumcusts, Prv.numcusts AS prvnumcusts,
  Cur.numcusts - Prv.numcusts AS growth
FROM (SELECT YEAR(OrderDate) AS orderyear,
        COUNT(DISTINCT CustomerId) AS numcusts
      FROM Sales.[Order]
      GROUP BY YEAR(OrderDate)) AS Cur
  LEFT OUTER JOIN --we use left join to preserve rows and nulls, so as to not discard
     (SELECT YEAR(OrderDate) AS orderyear,
        COUNT(DISTINCT CustomerId) AS numcusts
      FROM Sales.[Order]
      GROUP BY YEAR(OrderDate)) AS Prv
    ON Cur.orderyear = Prv.orderyear + 1;

orderyear,curnumcusts,prvnumcusts,growth
2014,67,NULL,NULL
2015,86,67,19
2016,81,86,-5

8. **Create USACusts as derived table using COMMON table expressions.**

In [24]:
use Northwinds2022TSQLV7;

WITH USACusts AS
(
  SELECT CustomerId, CustomerCompanyName
  FROM Sales.Customer
  WHERE CustomerCountry = N'USA'
)
SELECT * FROM USACusts;

CustomerId,CustomerCompanyName
32,Customer YSIQX
36,Customer LVJSO
43,Customer UISOJ
45,Customer QXPPT
48,Customer DVFMB
55,Customer KZQZT
65,Customer NYUHS
71,Customer LCOUJ
75,Customer XOJYP
77,Customer LCYBZ
78,Customer NLTYP
82,Customer EYHKM
89,Customer YBQTI

9. **Yearly count of customers.** Table expressions and INLINE column aliasing.

In [26]:
use Northwinds2022TSQLV7;

WITH C AS
(
  SELECT YEAR(OrderDate) AS orderyear, 
        CustomerId as custid
  FROM Sales.[Order]
)
SELECT orderyear, COUNT(DISTINCT custid) AS numcusts
FROM C
GROUP BY orderyear;

orderyear,numcusts
2014,67
2015,86
2016,81

10) **Yearly count of customers.** Table expression and EXTERNAL column aliasing.

In [27]:
use Northwinds2022TSQLV7;

WITH C(orderyear, custid) AS
(
  SELECT YEAR(OrderDate), CustomerId
  FROM Sales.[Order]
)
SELECT orderyear, COUNT(DISTINCT custid) AS numcusts
FROM C
GROUP BY orderyear;

orderyear,numcusts
2014,67
2015,86
2016,81

11) **Yearly count of customers handled by employee 3.** Table expressions, inline column aliasing, and ARGUMENTS.

In [28]:
use Northwinds2022TSQLV7;

DECLARE @empid AS INT = 3;

WITH C AS
(
  SELECT YEAR(OrderDate) AS orderyear, 
        CustomerId as custid
  FROM Sales.[Order]
  WHERE EmployeeId = @empid
)
SELECT orderyear, COUNT(DISTINCT custid) AS numcusts
FROM C
GROUP BY orderyear;

orderyear,numcusts
2014,16
2015,46
2016,30

12. Multiple CTES. High readibility. Creates a table of order years for each customer. Derives a table with column aliasing, we use this in another CTE. Derivies a table of the number of unique customers for each year. We use the final derived table to easily return **years where the cumber of customers exceeds 70.**

In [33]:
use Northwinds2022TSQLV7;

WITH C1 AS
(
  SELECT YEAR(OrderDate) AS orderyear, 
    CustomerId as custid --readable aliasing
  FROM Sales.[Order]
),
C2 AS
(
  SELECT orderyear, COUNT(DISTINCT custid) AS numcusts
  FROM C1
  GROUP BY orderyear
)
SELECT orderyear, numcusts
FROM C2
WHERE numcusts > 70;

orderyear,numcusts
2015,86
2016,81

13. Utilizing MULTIPLE references to **get each years current customers, previous customer, and growth.** Notice how the already named derived table can have more than one alias, to perform table operations like join.

In [35]:
use Northwinds2022TSQLV7;

WITH YearlyCount AS
(
  SELECT YEAR(OrderDate) AS orderyear,
    COUNT(DISTINCT CustomerId) AS numcusts
  FROM Sales.[Order]
  GROUP BY YEAR(OrderDate)
)
SELECT Cur.orderyear, 
  Cur.numcusts AS curnumcusts, Prv.numcusts AS prvnumcusts,
  Cur.numcusts - Prv.numcusts AS growth
FROM YearlyCount AS Cur -- the derived table has muliple references / aliases
  LEFT OUTER JOIN YearlyCount AS Prv 
    ON Cur.orderyear = Prv.orderyear + 1;

orderyear,curnumcusts,prvnumcusts,growth
2014,67,NULL,NULL
2015,86,67,19
2016,81,86,-5

14) **All employees who share the same manager as employee 2.**

In [37]:
use Northwinds2022TSQLV7;

WITH EmpsCTE AS
(
  SELECT EmployeeId as empid, 
        EmployeeManagerId as  mgrid, 
        EmployeeFirstName as firstname,
        EmployeeLastName as lastname
  FROM HumanResources.Employee
  WHERE EmployeeId = 2
  
  UNION ALL --union the multiple tables, unioning a table to an operation including itself!
  
  --use employee2 table and employees table to derive a new one
  SELECT C.EmployeeId, C.EmployeeManagerId, C.EmployeeFirstName, C.EmployeeLastName
  FROM EmpsCTE AS P
    INNER JOIN HumanResources.Employee AS C
      ON C.EmployeeManagerId = P.empid
)
SELECT empid, mgrid, firstname, lastname
FROM EmpsCTE;

empid,mgrid,firstname,lastname
2,1,Don,Funk
3,2,Judy,Lew
5,2,Sven,Mortensen
6,5,Paul,Suurs
7,5,Russell,King
9,5,Patricia,Doyle
4,3,Yael,Peled
8,3,Maria,Cameron

15. **Creates a USACusts view.** Think of a view as a virtual table, or the result of a query (select statement).

In [50]:
use TSQLV4;

DROP VIEW IF EXISTS Sales.USACusts;
GO
CREATE VIEW Sales.USACusts
AS

SELECT
  custid, companyname, contactname, contacttitle, address,
  city, region, postalcode, country, phone, fax
FROM Sales.Customers
WHERE country = N'USA';
GO

SELECT custid, companyname
FROM Sales.USACusts;
GO

custid,companyname
32,Customer YSIQX
36,Customer LVJSO
43,Customer UISOJ
45,Customer QXPPT
48,Customer DVFMB
55,Customer KZQZT
65,Customer NYUHS
71,Customer LCOUJ
75,Customer XOJYP
77,Customer LCYBZ
78,Customer NLTYP
82,Customer EYHKM
89,Customer YBQTI

16. Using the order by clause in an outer query to **get the region ordered customers from USAcusts.** \*ORDER BY NOT ALLOWED IN VIEW.

In [51]:
use TSQLV4

SELECT custid, companyname, region
FROM Sales.USACusts

custid,companyname,region
32,Customer YSIQX,OR
36,Customer LVJSO,OR
43,Customer UISOJ,WA
45,Customer QXPPT,CA
48,Customer DVFMB,OR
55,Customer KZQZT,AK
65,Customer NYUHS,NM
71,Customer LCOUJ,ID
75,Customer XOJYP,WY
77,Customer LCYBZ,OR
78,Customer NLTYP,MT
82,Customer EYHKM,WA
89,Customer YBQTI,WA

17. Don't rely on TOP when using Views.

In [57]:
ALTER VIEW Sales.USACusts
AS

SELECT TOP (100) PERCENT
  custid, companyname, contactname, contacttitle,
  city, region, postalcode, country, phone, fax
FROM Sales.Customers
WHERE country = N'USA'
ORDER BY region;
GO

select custid, companyname, region
from Sales.USACusts
GO

custid
32
36
43
45
48
55
65
71
75
77
78
82
89

18) Do not rely on OFFSET FETCH, even if it works.

In [61]:
ALTER VIEW Sales.USACusts
AS

SELECT 
  custid, companyname, contactname, contacttitle, address,
  city, region, postalcode, country, phone, fax
FROM Sales.Customers
WHERE country = N'USA'
ORDER BY region
OFFSET 0 ROWS;
GO

SELECT custid, companyname, region
FROM Sales.USACusts;
GO

custid,companyname,region
55,Customer KZQZT,AK
45,Customer QXPPT,CA
71,Customer LCOUJ,ID
78,Customer NLTYP,MT
65,Customer NYUHS,NM
48,Customer DVFMB,OR
32,Customer YSIQX,OR
36,Customer LVJSO,OR
77,Customer LCYBZ,OR
82,Customer EYHKM,WA
89,Customer YBQTI,WA
43,Customer UISOJ,WA
75,Customer XOJYP,WY

19). **Encrypting the USACusts Table.** Prevents this table from being replicated as well.

In [67]:
ALTER VIEW Sales.USACusts
AS

SELECT
  custid, companyname, contactname, contacttitle,
  city, region, postalcode, country, phone, fax
FROM Sales.Customers
WHERE country = N'USA';
GO

SELECT OBJECT_DEFINITION(OBJECT_ID('Sales.USACusts'));
GO

ALTER VIEW Sales.USACusts WITH ENCRYPTION
AS

SELECT
  custid, companyname, contactname, contacttitle,
  city, region, postalcode, country, phone, fax
FROM Sales.Customers
WHERE country = N'USA';
GO

SELECT OBJECT_DEFINITION(OBJECT_ID('Sales.USACusts'));

EXEC sp_helptext 'Sales.USACusts';
GO

(No column name)
"CREATE VIEW Sales.USACusts AS SELECT custid, companyname, contactname, contacttitle, city, region, postalcode, country, phone, fax FROM Sales.Customers WHERE country = N'USA';"

(No column name)
NULL

20. Schemabinding. Here view the error trying to modify the schema leads to, when we schemabind, it alerts us of dependant views and prevents use from altering the underlying schema that is binded to the view. So in this case I can change any Schema besides the Sales Schema.

In [72]:
ALTER VIEW Sales.USACusts WITH SCHEMABINDING
AS

SELECT
  custid, companyname, contactname, contacttitle, address,
  city, region, postalcode, country, phone, fax
FROM Sales.Customers
WHERE country = N'USA';
GO

ALTER TABLE Sales.Customers DROP COLUMN address;
GO

custid,companyname,contactname,contacttitle,address,city,region,postalcode,country,phone,fax
1,Customer NRZBB,"Allen, Michael",Sales Representative,Obere Str. 0123,Berlin,NULL,10092,Germany,030-3456789,030-0123456
2,Customer MLTDN,"Hassall, Mark",Owner,Avda. de la Constitucin 5678,Mxico D.F.,NULL,10077,Mexico,(5) 789-0123,(5) 456-7890
3,Customer KBUDE,"Strome, David",Owner,Mataderos 7890,Mxico D.F.,NULL,10097,Mexico,(5) 123-4567,NULL
4,Customer HFBZG,"Cunningham, Conor",Sales Representative,7890 Hanover Sq.,London,NULL,10046,UK,(171) 456-7890,(171) 456-7891
5,Customer HGVLZ,"Higginbotham, Tom",Order Administrator,Berguvsvgen 5678,Lule,NULL,10112,Sweden,0921-67 89 01,0921-23 45 67
6,Customer XHXJV,"Poland, Carole",Sales Representative,Forsterstr. 7890,Mannheim,NULL,10117,Germany,0621-67890,0621-12345
7,Customer QXVLA,"Bansal, Dushyant",Marketing Manager,"2345, place Klber",Strasbourg,NULL,10089,France,67.89.01.23,67.89.01.24
8,Customer QUHWH,"Ilyina, Julia",Owner,"C/ Araquil, 0123",Madrid,NULL,10104,Spain,(91) 345 67 89,(91) 012 34 56
9,Customer RTXGC,"Raghav, Amritansh",Owner,"6789, rue des Bouchers",Marseille,NULL,10105,France,23.45.67.89,23.45.67.80
10,Customer EEALV,"Culp, Scott",Accounting Manager,8901 Tsawassen Blvd.,Tsawassen,BC,10111,Canada,(604) 901-2345,(604) 678-9012
11,Customer UBHAU,"Jaffe, David",Sales Representative,Fauntleroy Circus 4567,London,NULL,10064,UK,(171) 789-0123,NULL
12,Customer PSNMQ,"Ray, Mike",Sales Agent,Cerrito 3456,Buenos Aires,NULL,10057,Argentina,(1) 890-1234,(1) 567-8901
13,Customer VMLOG,"Benito, Almudena",Marketing Manager,Sierras de Granada 7890,Mxico D.F.,NULL,10056,Mexico,(5) 456-7890,(5) 123-4567
14,Customer WNMAF,"Jelitto, Jacek",Owner,Hauptstr. 0123,Bern,NULL,10065,Switzerland,0452-678901,NULL
15,Customer JUWXK,"Richardson, Shawn",Sales Associate,"Av. dos Lusadas, 6789",Sao Paulo,SP,10087,Brazil,(11) 012-3456,NULL
16,Customer GYBBY,"Birkby, Dana",Sales Representative,Berkeley Gardens 0123 Brewery,London,NULL,10039,UK,(171) 234-5678,(171) 234-5679
17,Customer FEVNN,"Sun, Nate",Order Administrator,Walserweg 4567,Aachen,NULL,10067,Germany,0241-789012,0241-345678
18,Customer BSVAR,"Lieber, Justin",Owner,"3456, rue des Cinquante Otages",Nantes,NULL,10041,France,89.01.23.45,89.01.23.46
19,Customer RFNQC,"Boseman, Randall",Sales Agent,5678 King George,London,NULL,10110,UK,(171) 345-6789,(171) 345-6780
20,Customer THHDP,"Kane, John",Sales Manager,Kirchgasse 9012,Graz,NULL,10059,Austria,1234-5678,9012-3456
21,Customer KIDPX,"Russo, Giuseppe",Marketing Assistant,"Rua Ors, 3456",Sao Paulo,SP,10096,Brazil,(11) 456-7890,NULL
22,Customer DTDMN,"Daly, Jim",Accounting Manager,"C/ Moralzarzal, 5678",Madrid,NULL,10080,Spain,(91) 890 12 34,(91) 567 89 01
23,Customer WVFAF,"Liu, Jenny",Assistant Sales Agent,"4567, chausse de Tournai",Lille,NULL,10048,France,45.67.89.01,45.67.89.02
24,Customer CYZTN,"Grisso, Geoff",Owner,kergatan 5678,Brcke,NULL,10114,Sweden,0695-67 89 01,NULL
25,Customer AZJED,"Carlson, Jason",Marketing Manager,Berliner Platz 9012,Mnchen,NULL,10091,Germany,089-8901234,089-5678901
26,Customer USDBG,"Koch, Paul",Marketing Manager,"9012, rue Royale",Nantes,NULL,10101,France,34.56.78.90,34.56.78.91
27,Customer WMFEA,"Schmllerl, Martin",Sales Representative,Via Monte Bianco 4567,Torino,NULL,10099,Italy,011-2345678,011-9012345
28,Customer XYUFB,"Cavaglieri, Giorgio",Sales Manager,Jardim das rosas n. 8901,Lisboa,NULL,10054,Portugal,(1) 456-7890,(1) 123-4567
29,Customer MDLWA,"Kolesnikova, Katerina",Marketing Manager,"Rambla de Catalua, 8901",Barcelona,NULL,10081,Spain,(93) 789 0123,(93) 456 7890
30,Customer KSLQF,"Grossman, Seth",Sales Manager,"C/ Romero, 1234",Sevilla,NULL,10075,Spain,(95) 901 23 45,NULL
31,Customer YJCBX,"Orint, Neil",Sales Associate,"Av. Brasil, 5678",Campinas,SP,10128,Brazil,(11) 567-8901,NULL
32,Customer YSIQX,"Krishnan, Venky",Marketing Manager,6789 Baker Blvd.,Eugene,OR,10070,USA,(503) 555-0122,NULL
33,Customer FVXPQ,"Yuksel, Ayca",Owner,5 Ave. Los Palos Grandes 3456,Caracas,DF,10043,Venezuela,(2) 789-0123,(2) 456-7890
34,Customer IBVRG,"Zhang, Frank",Accounting Manager,"Rua do Pao, 7890",Rio de Janeiro,RJ,10076,Brazil,(21) 789-0123,(21) 789-0124
35,Customer UMTLM,"Langohr, Kris",Sales Representative,Carrera 1234 con Ave. Carlos Soublette #8-35,San Cristbal,Tchira,10066,Venezuela,(5) 567-8901,(5) 234-5678
36,Customer LVJSO,"Smith, Denise",Sales Representative,City Center Plaza 2345 Main St.,Elgin,OR,10103,USA,(503) 555-0126,(503) 555-0135
37,Customer FRXZL,"skarsson, Jn Harry",Sales Associate,9012 Johnstown Road,Cork,Co. Cork,10051,Ireland,8901 234,5678 9012
38,Customer LJUCA,"Orton, Jon",Marketing Manager,Garden House Crowther Way 3456,Cowes,Isle of Wight,10063,UK,(198) 567-8901,NULL
39,Customer GLLAG,"Song, Lolan",Sales Associate,Maubelstr. 8901,Brandenburg,NULL,10060,Germany,0555-34567,NULL
40,Customer EFFTC,"Owens, Ron",Sales Representative,"2345, avenue de l'Europe",Versailles,NULL,10108,France,12.34.56.78,12.34.56.79
41,Customer XIIWM,"Litton, Tim",Sales Manager,3456 rue Alsace-Lorraine,Toulouse,NULL,10053,France,90.12.34.56,90.12.34.57
42,Customer IAIJK,"Zaki, Amr",Marketing Assistant,2345 Oak St.,Vancouver,BC,10098,Canada,(604) 567-8901,(604) 234-5678
43,Customer UISOJ,"Wu, Qiong",Marketing Manager,8901 Orchestra Terrace,Walla Walla,WA,10069,USA,(509) 555-0119,(509) 555-0130
44,Customer OXFRU,"Louverdis, George",Sales Representative,Magazinweg 8901,Frankfurt a.M.,NULL,10095,Germany,069-7890123,069-4567890
45,Customer QXPPT,"Wright, David",Owner,1234 Polk St. Suite 5,San Francisco,CA,10062,USA,(415) 555-0118,NULL
46,Customer XPNIK,"Neves, Paulo",Accounting Manager,Carrera 7890 con Ave. Bolvar #65-98 Llano Largo,Barquisimeto,Lara,10093,Venezuela,(9) 789-0123,(9) 456-7890
47,Customer PSQUZ,"Lupu, Cornel",Owner,Ave. 5 de Mayo Porlamar 5678,I. de Margarita,Nueva Esparta,10121,Venezuela,(8) 01-23-45,(8) 67-89-01
48,Customer DVFMB,"Szymczak, Radosaw",Sales Manager,9012 Chiaroscuro Rd.,Portland,OR,10073,USA,(503) 555-0117,(503) 555-0129
49,Customer CQRAA,"Duerr, Bernard",Marketing Manager,Via Ludovico il Moro 6789,Bergamo,NULL,10106,Italy,035-345678,035-901234
50,Customer JYPSC,"Goldin, Maxim",Sales Agent,Rue Joseph-Bens 0123,Bruxelles,NULL,10074,Belgium,(02) 890 12 34,(02) 567 89 01
51,Customer PVDZC,"Taylor, Maurice",Marketing Assistant,8901 rue St. Laurent,Montral,Qubec,10040,Canada,(514) 345-6789,(514) 012-3456
52,Customer PZNLA,"Natarajan, Mrina",Marketing Assistant,Heerstr. 4567,Leipzig,NULL,10125,Germany,0342-12345,NULL
53,Customer GCJSG,"Mallit, Ken",Sales Associate,South House 1234 Queensbridge,London,NULL,10061,UK,(171) 890-1234,(171) 890-1235
54,Customer TDKEG,"Nash, Mike",Sales Agent,Ing. Gustavo Moncada 0123 Piso 20-A,Buenos Aires,NULL,10094,Argentina,(1) 123-4567,(1) 890-1234
55,Customer KZQZT,"Wood, Robin",Sales Representative,7890 Bering St.,Anchorage,AK,10050,USA,(907) 555-0115,(907) 555-0128
56,Customer QNIVZ,"Miller, Lisa",Owner,Mehrheimerstr. 9012,Kln,NULL,10047,Germany,0221-0123456,0221-7890123
57,Customer WVAXS,"Tollevsen, Bjrn",Owner,"5678, boulevard Charonne",Paris,NULL,10085,France,(1) 89.01.23.45,(1) 89.01.23.46
58,Customer AHXHT,"Frank, Jill",Sales Representative,Calle Dr. Jorge Cash 8901,Mxico D.F.,NULL,10116,Mexico,(5) 890-1234,(5) 567-8901
59,Customer LOLJO,"Wang, Tony",Sales Manager,Geislweg 2345,Salzburg,NULL,10127,Austria,4567-8901,2345-6789
60,Customer QZURI,"Uppal, Sunil",Sales Representative,Estrada da sade n. 6789,Lisboa,NULL,10083,Portugal,(1) 789-0123,NULL
61,Customer WULWD,"Meisels, Josh",Accounting Manager,"Rua da Panificadora, 1234",Rio de Janeiro,RJ,10115,Brazil,(21) 678-9012,(21) 678-9013
62,Customer WFIZJ,"Misiec, Anna",Marketing Assistant,"Alameda dos Canrios, 1234",Sao Paulo,SP,10102,Brazil,(11) 901-2345,NULL
63,Customer IRRVL,"Veronesi, Giorgio",Accounting Manager,Taucherstrae 1234,Cunewalde,NULL,10126,Germany,0372-12345,NULL
64,Customer LWGMD,"Gaffney, Lawrie",Sales Representative,Av. del Libertador 3456,Buenos Aires,NULL,10124,Argentina,(1) 234-5678,(1) 901-2345
65,Customer NYUHS,"Moore, Michael",Assistant Sales Representative,6789 Milton Dr.,Albuquerque,NM,10109,USA,(505) 555-0125,(505) 555-0134
66,Customer LHANT,"Voss, Florian",Sales Associate,Strada Provinciale 7890,Reggio Emilia,NULL,10038,Italy,0522-012345,0522-678901
67,Customer QVEPD,"Garden, Euan",Assistant Sales Agent,"Av. Copacabana, 6789",Rio de Janeiro,RJ,10052,Brazil,(21) 345-6789,NULL
68,Customer CCKOT,"Myrcha, Jacek",Sales Manager,Grenzacherweg 0123,Genve,NULL,10122,Switzerland,0897-012345,NULL
69,Customer SIUIH,"Troup, Carol",Accounting Manager,"Gran Va, 4567",Madrid,NULL,10071,Spain,(91) 567 8901,(91) 234 5678
70,Customer TMXGN,"Makovac, Zrinka",Owner,Erling Skakkes gate 2345,Stavern,NULL,10123,Norway,07-89 01 23,07-45 67 89
71,Customer LCOUJ,"Navarro, Toms",Sales Representative,9012 Suffolk Ln.,Boise,ID,10078,USA,(208) 555-0116,NULL
72,Customer AHPOP,"Welcker, Brian",Sales Manager,4567 Wadhurst Rd.,London,NULL,10088,UK,(171) 901-2345,(171) 901-2346
73,Customer JMIKW,"Gonzalez, Nuria",Owner,Vinbltet 3456,Kobenhavn,NULL,10079,Denmark,12 34 56 78,90 12 34 56
74,Customer YSHXL,"MacDonald, Scott",Marketing Manager,"9012, rue Lauriston",Paris,NULL,10058,France,(1) 23.45.67.89,(1) 23.45.67.80
75,Customer XOJYP,"Downs, Chris",Sales Manager,P.O. Box 1234,Lander,WY,10113,USA,(307) 555-0114,(307) 555-0127
76,Customer SFOGW,"Luper, Steve",Accounting Manager,"Boulevard Tirou, 2345",Charleroi,NULL,10100,Belgium,(071) 56 78 90 12,(071) 34 56 78 90
77,Customer LCYBZ,"Didcock, Cliff",Marketing Manager,2345 Jefferson Way Suite 2,Portland,OR,10042,USA,(503) 555-0120,NULL
78,Customer NLTYP,"Ma, Andrew",Marketing Assistant,0123 Grizzly Peak Rd.,Butte,MT,10107,USA,(406) 555-0121,(406) 555-0131
79,Customer FAPSM,"Wickham, Jim",Marketing Manager,Luisenstr. 0123,Mnster,NULL,10118,Germany,0251-456789,0251-012345
80,Customer VONTK,"Toh, Karen",Owner,Avda. Azteca 4567,Mxico D.F.,NULL,10044,Mexico,(5) 678-9012,NULL
81,Customer YQQWW,"Edwards, Josh",Sales Representative,"Av. Ins de Castro, 1234",Sao Paulo,SP,10120,Brazil,(11) 123-4567,(11) 234-5678
82,Customer EYHKM,"Veninga, Tjeerd",Sales Associate,1234 DaVinci Blvd.,Kirkland,WA,10119,USA,(206) 555-0124,(206) 555-0133
83,Customer ZRNDE,"Manar, Karim",Sales Manager,Smagsloget 3456,rhus,NULL,10090,Denmark,23 45 67 89,01 23 45 67
84,Customer NRCSK,"Tuntisangaroon, Sittichai",Sales Agent,"6789, rue du Commerce",Lyon,NULL,10072,France,78.90.12.34,78.90.12.35
85,Customer ENQZT,"Elliott, Patrick",Accounting Manager,5678 rue de l'Abbaye,Reims,NULL,10082,France,56.78.90.12,56.78.90.13
86,Customer SNXOJ,"Syamala, Manoj",Sales Representative,Adenauerallee 7890,Stuttgart,NULL,10086,Germany,0711-345678,0711-901234
87,Customer ZHYOS,"Ludwig, Michael",Accounting Manager,Torikatu 9012,Oulu,NULL,10045,Finland,981-123456,981-789012
88,Customer SRQVM,"Li, Yan",Sales Manager,"Rua do Mercado, 4567",Resende,SP,10084,Brazil,(14) 234-5678,NULL
89,Customer YBQTI,"Smith Jr., Ronaldo",Owner,8901 - 14th Ave. S. Suite 3B,Seattle,WA,10049,USA,(206) 555-0123,(206) 555-0132
90,Customer XBBVR,"Larsson, Katarina",Owner/Marketing Assistant,Keskuskatu 2345,Helsinki,NULL,10055,Finland,90-012 3456,90-789 0123
91,Customer CCFIZ,"Vasa, Petr",Owner,ul. Filtrowa 6789,Warszawa,NULL,10068,Poland,(26) 234-5678,(26) 901-2345

21. Check option, to check if our insertion satisfies the views query. What if we insert a UK customer into the USACusts View? It'll leak into the main table without anyone knowing.

In [81]:
INSERT INTO Sales.USACusts(
  companyname, contactname, contacttitle, address,
  city, region, postalcode, country, phone, fax)
 VALUES(
  N'Customer ABCDE', N'Contact ABCDE', N'Title ABCDE', N'Address ABCDE',
  N'London', NULL, N'12345', N'UK', N'012-3456789', N'012-3456789');
--notice we're adding rows that dont satisfy the views query
--we wont see it in the view, but the actual table

SELECT custid, companyname, country
FROM Sales.USACusts
WHERE companyname = N'Customer ABCDE';

SELECT custid, companyname, country
FROM Sales.Customers
WHERE companyname = N'Customer ABCDE'

custid,companyname,country
97,Customer ABCDE,USA

custid,companyname,country
92,Customer ABCDE,UK
93,Customer ABCDE,UK
94,Customer ABCDE,UK
95,Customer ABCDE,UK
96,Customer ABCDE,UK
97,Customer ABCDE,USA
98,Customer ABCDE,UK
99,Customer ABCDE,UK

In [84]:
ALTER VIEW Sales.USACusts WITH SCHEMABINDING
AS

SELECT
  custid, companyname, contactname, contacttitle, address,
  city, region, postalcode, country, phone, fax
FROM Sales.Customers
WHERE country = N'USA'
WITH CHECK OPTION;
GO

INSERT INTO Sales.USACusts(
  companyname, contactname, contacttitle, address,
  city, region, postalcode, country, phone, fax)
 VALUES(
  N'Customer FGHIJ', N'Contact FGHIJ', N'Title FGHIJ', N'Address FGHIJ',
  N'London', NULL, N'12345', N'UK', N'012-3456789', N'012-3456789');

: Msg 550, Level 16, State 1, Line 12
The attempted insert or update failed because the target view either specifies WITH CHECK OPTION or spans a view that specifies WITH CHECK OPTION and one or more rows resulting from the operation did not qualify under the CHECK OPTION constraint.

In [86]:
DELETE FROM Sales.Customers
WHERE custid > 91;

DROP VIEW IF EXISTS Sales.USACusts;
GO

22. **GetCustOrders function.** Takes customer id as argument and returns a table of the customers orders. **Get order tables for customer 1 and 2.**

In [91]:
use Northwinds2022TSQLV7

drop function if exists dbo.GetCustOrders
go

create function dbo.GetCustOrders
    (@cid as int) returns table 
as 
return --actual return table derived from select statement
    select *
    from Sales.[Order]
    where CustomerId = @cid;
go

--using the function
select CustomerId, OrderId
from dbo.GetCustOrders(1) as O1

select CustomerId, OrderId
from dbo.GetCustOrders(2) as O2

CustomerId,OrderId
1,10643
1,10692
1,10702
1,10835
1,10952
1,11011

CustomerId,OrderId
2,10308
2,10625
2,10759
2,10926

23) **Return table of customer 1s orders and matching order details.**

In [94]:
use Northwinds2022TSQLV7;

select O.OrderId, O.CustomerId, OD.ProductId, OD.Quantity
from dbo.GetCustOrders(1) as O
    inner join
    Sales.[OrderDetail] as OD
        on O.OrderId = OD.OrderId
go

OrderId,CustomerId,ProductId,Quantity
10643,1,28,15
10643,1,39,21
10643,1,46,2
10692,1,63,20
10702,1,3,6
10702,1,76,15
10835,1,59,15
10835,1,77,2
10952,1,6,16
10952,1,28,2
11011,1,58,40
11011,1,71,20

In [95]:
use Northwinds2022TSQLV7

drop function if exists dbo.GetCustOrders
go

24. **All combinations of shipper ids and customer ids.**

In [96]:
use Northwinds2022TSQLV7

select S.ShipperId, E.EmployeeId
from Sales.[Shipper] as S
    cross join 
    HumanResources.[Employee] AS E

ShipperId,EmployeeId
1,1
1,2
1,3
1,4
1,5
1,6
1,7
1,8
1,9
2,1
2,2
2,3
2,4
2,5
2,6
2,7
2,8
2,9
3,1
3,2
3,3
3,4
3,5
3,6
3,7
3,8
3,9

25. Apply. **Returns all combinations of shipper id and employee id.** Rather than cross join, it calculates the Employee table for each row and combines the two.

In [97]:
use Northwinds2022TSQLV7

select S.ShipperId, E.EmployeeId
from Sales.[Shipper] as S
    cross apply 
    HumanResources.[Employee] AS E

ShipperId,EmployeeId
1,1
1,2
1,3
1,4
1,5
1,6
1,7
1,8
1,9
2,1
2,2
2,3
2,4
2,5
2,6
2,7
2,8
2,9
3,1
3,2
3,3
3,4
3,5
3,6
3,7
3,8
3,9

26. **3 most recent orders for each customer.** For each implies cross apply.

In [8]:
use Northwinds2022TSQLV7
 
select C.CustomerId, A.OrderId, A.OrderDate
from Sales.[Customer] as C
    cross apply (
        select top (3) OrderId, EmployeeId, OrderDate, RequiredDate
        from Sales.[Order] as O
        where O.CustomerId = C.CustomerId
        order by orderdate desc, orderid desc
    ) as A

CustomerId,OrderId,OrderDate
1,11011,2016-04-09
1,10952,2016-03-16
1,10835,2016-01-15
2,10926,2016-03-04
2,10759,2015-11-28
2,10625,2015-08-08
3,10856,2016-01-28
3,10682,2015-09-25
3,10677,2015-09-22
4,11016,2016-04-10
4,10953,2016-03-16
4,10920,2016-03-03
5,10924,2016-03-04
5,10875,2016-02-06
5,10866,2016-02-03
6,11058,2016-04-29
6,10956,2016-03-17
6,10853,2016-01-27
7,10826,2016-01-12
7,10679,2015-09-23
7,10628,2015-08-12
8,10970,2016-03-24
8,10801,2015-12-29
8,10326,2014-10-10
9,11076,2016-05-06
9,10940,2016-03-11
9,10932,2016-03-06
10,11048,2016-04-24
10,11045,2016-04-23
10,11027,2016-04-16
11,11023,2016-04-14
11,10947,2016-03-13
11,10943,2016-03-11
12,11054,2016-04-28
12,10937,2016-03-10
12,10881,2016-02-11
13,10259,2014-07-18
14,11041,2016-04-22
14,11029,2016-04-16
14,10966,2016-03-20
15,11042,2016-04-22
15,10969,2016-03-23
15,10494,2015-04-02
16,10848,2016-01-23
16,10462,2015-03-03
16,10435,2015-02-04
17,11067,2016-05-04
17,11036,2016-04-20
17,10825,2016-01-09
18,10890,2016-02-16
18,10683,2015-09-26
18,10609,2015-07-24
19,11056,2016-04-28
19,11047,2016-04-24
19,11024,2016-04-15
20,11072,2016-05-05
20,11017,2016-04-13
20,11008,2016-04-08
21,10725,2015-10-31
21,10650,2015-08-29
21,10581,2015-06-26
23,10789,2015-12-22
23,10763,2015-12-03
23,10634,2015-08-15
24,11050,2016-04-27
24,11001,2016-04-06
24,10993,2016-04-01
25,11012,2016-04-09
25,10929,2016-03-05
25,10859,2016-01-29
26,10971,2016-03-24
26,10860,2016-01-29
26,10671,2015-09-17
27,11060,2016-04-30
27,11026,2016-04-15
27,10807,2015-12-31
28,10963,2016-03-19
28,10664,2015-09-10
28,10604,2015-07-18
29,10928,2016-03-05
29,10887,2016-02-13
29,10568,2015-06-13
30,11037,2016-04-21
30,11009,2016-04-08
30,10948,2016-03-13
31,11049,2016-04-24
31,10959,2016-03-18
31,10790,2015-12-22
32,11061,2016-04-30
32,11040,2016-04-22
32,11006,2016-04-07
33,10785,2015-12-18
33,10268,2014-07-30
34,11052,2016-04-27
34,11022,2016-04-14
34,10981,2016-03-27
35,11055,2016-04-28
35,10976,2016-03-25
35,10960,2016-03-19
36,10660,2015-09-08
36,10600,2015-07-16
36,10415,2015-01-15
37,11063,2016-04-30
37,10985,2016-03-30
37,10912,2016-02-26
38,10933,2016-03-06
38,10829,2016-01-13
38,10798,2015-12-26
39,11028,2016-04-16
39,10893,2016-02-18
39,10849,2016-01-23
40,10973,2016-03-24
40,10972,2016-03-24
40,10927,2016-03-05
41,11051,2016-04-27
41,10923,2016-03-03
41,10832,2016-01-14
42,10810,2016-01-01
42,10620,2015-08-05
42,10495,2015-04-03
43,10545,2015-05-22
43,10482,2015-03-21
44,11070,2016-05-05
44,10934,2016-03-09
44,10891,2016-02-17
45,10884,2016-02-12
45,10735,2015-11-10
45,10719,2015-10-27
46,11071,2016-05-05
46,11065,2016-05-01
46,10997,2016-04-03
47,11039,2016-04-21
47,11014,2016-04-10
47,10954,2016-03-17
48,11018,2016-04-13
48,10883,2016-02-12
48,10867,2016-02-03
49,10950,2016-03-16
49,10939,2016-03-10
49,10818,2016-01-07
50,11004,2016-04-07
50,10978,2016-03-26
50,10896,2016-02-19
51,10724,2015-10-30
51,10619,2015-08-04
51,10618,2015-08-01
52,10945,2016-03-12
52,10779,2015-12-16
52,10699,2015-10-09
53,11057,2016-04-29
53,10752,2015-11-24
53,10517,2015-04-24
54,10986,2016-03-30
54,10958,2016-03-18
54,10898,2016-02-20
55,11034,2016-04-20
55,10965,2016-03-20
55,10855,2016-01-27
56,11020,2016-04-14
56,10999,2016-04-03
56,10833,2016-01-15
58,11073,2016-05-05
58,10995,2016-04-02
58,10502,2015-04-10
59,11053,2016-04-27
59,10844,2016-01-21
59,10747,2015-11-19
60,11007,2016-04-08
60,10477,2015-03-17
60,10433,2015-02-03
61,10989,2016-03-31
61,10794,2015-12-24
61,10720,2015-10-28
62,11068,2016-05-04
62,10961,2016-03-19
62,10914,2016-02-27
63,11021,2016-04-14
63,10996,2016-04-02
63,10991,2016-04-01
64,11019,2016-04-13
64,10916,2016-02-27
64,10828,2016-01-13
65,11077,2016-05-06
65,11000,2016-04-06
65,10988,2016-03-31
66,11062,2016-04-30
66,11010,2016-04-09
66,10942,2016-03-11
67,11059,2016-04-29
67,10877,2016-02-09
67,10851,2016-01-26
68,11075,2016-05-06
68,11033,2016-04-17
68,10951,2016-03-16
69,11013,2016-04-09
69,10917,2016-03-02
69,10306,2014-09-16
70,11015,2016-04-10
70,10909,2016-02-26
70,10831,2016-01-14
71,11064,2016-05-01
71,11031,2016-04-17
71,11030,2016-04-17
72,10869,2016-02-04
72,10804,2015-12-30
72,10800,2015-12-26
73,11074,2016-05-06
73,10802,2015-12-29
73,10669,2015-09-15
74,11043,2016-04-22
74,10964,2016-03-20
74,10907,2016-02-25
75,10974,2016-03-25
75,10821,2016-01-08
75,10756,2015-11-27
76,11038,2016-04-21
76,11035,2016-04-20
76,10930,2016-03-06
77,10992,2016-04-01
77,10805,2015-12-30
77,10708,2015-10-17
78,11003,2016-04-06
78,10775,2015-12-12
78,10624,2015-08-07
79,10967,2016-03-23
79,10608,2015-07-23
79,10548,2015-05-26
80,11069,2016-05-04
80,10915,2016-02-27
80,10842,2016-01-20
81,10839,2016-01-19
81,10834,2016-01-15
81,10830,2016-01-13
82,10822,2016-01-08
82,10577,2015-06-23
82,10574,2015-06-19
83,10994,2016-04-02
83,10946,2016-03-12
83,10921,2016-03-03
84,10850,2016-01-23
84,10843,2016-01-21
84,10814,2016-01-05
85,10739,2015-11-12
85,10737,2015-11-11
85,10295,2014-09-02
86,11046,2016-04-23
86,10668,2015-09-15
86,10651,2015-09-01
87,11025,2016-04-15
87,10781,2015-12-17
87,10750,2015-11-21
88,10935,2016-03-09
88,10905,2016-02-24
88,10900,2016-02-20
89,11066,2016-05-01
89,11032,2016-04-17
89,10904,2016-02-24
90,11005,2016-04-07
90,10910,2016-02-26
90,10879,2016-02-10
91,11044,2016-04-23
91,10998,2016-04-03
91,10906,2016-02-25