1) Return **all orders placed on the last day of activity that can be found in the Orders table**

```
orderid     orderdate   custid      empid
----------- ----------- ----------- -----------
11077       2016-05-06  65          1
11076       2016-05-06  9           4
11075       2016-05-06  68          8
11074       2016-05-06  73          7

(4 row(s) affected)
```

In [6]:
use Northwinds2022TSQLV7

select OrderId as orderid,
    OrderDate as orderdate,
    CustomerId as custid,
    EmployeeId as empid
from Sales.[Order] as O1
--filter for all orders on same date
where O1.OrderDate = (
    -- find last day of activity in orders table
    select max(OrderDate) --get scalar value of last day 
    from Sales.[Order]
)

order by orderid desc

orderid,orderdate,custid,empid
11077,2016-05-06,65,1
11076,2016-05-06,9,4
11075,2016-05-06,68,8
11074,2016-05-06,73,7

3) **Employees that did not place orders on or after May 1st 2016**

```
empid       FirstName  lastname
----------- ---------- --------------------
3           Judy       Lew
5           Sven       Mortensen
6           Paul       Suurs
9           Patricia   Doyle

(4 row(s) affected)
```

In [13]:
use Northwinds2022TSQLV7

select EmployeeId as empid,
    EmployeeFirstName as FirstName,
    EmployeeLastName as lastname
from HumanResources.Employee as E
where E.EmployeeId not in (
    --find all employees who ordered on or after May 1st 2016
    select distinct O.EmployeeId 
    from Sales.[Order] as O
    where O.OrderDate >= '20160501'
)
order by empid asc

empid,FirstName,lastname
3,Judy,Lew
5,Sven,Mortensen
6,Paul,Suurs
9,Patricia,Doyle

4. **Countries where there are customers but NO employees**

```
country
---------------
Argentina
Austria
Belgium
Brazil
Canada
Denmark
Finland
France
Germany
Ireland
Italy
Mexico
Norway
Poland
Portugal
Spain
Sweden
Switzerland
Venezuela

(19 row(s) affected)
```

In [23]:
use Northwinds2022TSQLV7

--countries with customers
select distinct CustomerCountry as country
from Sales.[Customer] as C
where C.CustomerCountry not in ( --remove countries found in employee countries
    -- all employee countries
    select E.EmployeeCountry
    from HumanResources.Employee as E
)
order by country

country
Argentina
Austria
Belgium
Brazil
Canada
Denmark
Finland
France
Germany
Ireland
Italy
Mexico
Norway
Poland
Portugal
Spain
Sweden
Switzerland
Venezuela

5) **For each customer, all orders placed on customers last day of activity.**

```
custid      orderid     orderdate   empid
----------- ----------- ----------- -----------
1           11011       2016-04-09  3
2           10926       2016-03-04  4
3           10856       2016-01-28  3
4           11016       2016-04-10  9
5           10924       2016-03-04  3
...
87          11025       2016-04-15  6
88          10935       2016-03-09  4
89          11066       2016-05-01  7
90          11005       2016-04-07  2
91          11044       2016-04-23  4

(90 row(s) affected)
```

In [32]:
use Northwinds2022TSQLV7

--find a customers last day of activity (scalar value)
-- select max(O2.OrderDate)
-- from Sales.[Order] as O2
-- where O2.CustomerId = 85

--get all customers
select CustomerId as custid,
    OrderId as orderid,
    OrderDate as orderdate,
    EmployeeId as empid
from Sales.[Order] as O1
where OrderDate  = (
    --find a customers last day of activity
    select max(OrderDate)
    from Sales.[Order] as O2
    where O2.CustomerId = O1.CustomerId
)
order by custid

custid,orderid,orderdate,empid
1,11011,2016-04-09,3
2,10926,2016-03-04,4
3,10856,2016-01-28,3
4,11016,2016-04-10,9
5,10924,2016-03-04,3
6,11058,2016-04-29,9
7,10826,2016-01-12,6
8,10970,2016-03-24,9
9,11076,2016-05-06,4
10,11048,2016-04-24,7
11,11023,2016-04-14,1
12,11054,2016-04-28,8
13,10259,2014-07-18,4
14,11041,2016-04-22,3
15,11042,2016-04-22,2
16,10848,2016-01-23,7
17,11067,2016-05-04,1
18,10890,2016-02-16,7
19,11056,2016-04-28,8
20,11072,2016-05-05,4
21,10725,2015-10-31,4
23,10789,2015-12-22,1
24,11050,2016-04-27,8
25,11012,2016-04-09,1
26,10971,2016-03-24,2
27,11060,2016-04-30,2
28,10963,2016-03-19,9
29,10928,2016-03-05,1
30,11037,2016-04-21,7
31,11049,2016-04-24,3
32,11061,2016-04-30,4
33,10785,2015-12-18,1
34,11052,2016-04-27,3
35,11055,2016-04-28,7
36,10660,2015-09-08,8
37,11063,2016-04-30,3
38,10933,2016-03-06,6
39,11028,2016-04-16,2
40,10972,2016-03-24,4
40,10973,2016-03-24,6
41,11051,2016-04-27,7
42,10810,2016-01-01,2
43,10545,2015-05-22,8
44,11070,2016-05-05,2
45,10884,2016-02-12,4
46,11071,2016-05-05,1
47,11039,2016-04-21,1
48,11018,2016-04-13,4
49,10950,2016-03-16,1
50,11004,2016-04-07,3
51,10724,2015-10-30,8
52,10945,2016-03-12,4
53,11057,2016-04-29,3
54,10986,2016-03-30,8
55,11034,2016-04-20,8
56,11020,2016-04-14,2
58,11073,2016-05-05,2
59,11053,2016-04-27,2
60,11007,2016-04-08,8
61,10989,2016-03-31,2
62,11068,2016-05-04,8
63,11021,2016-04-14,3
64,11019,2016-04-13,6
65,11077,2016-05-06,1
66,11062,2016-04-30,4
67,11059,2016-04-29,2
68,11075,2016-05-06,8
69,11013,2016-04-09,2
70,11015,2016-04-10,2
71,11064,2016-05-01,1
72,10869,2016-02-04,5
73,11074,2016-05-06,7
74,11043,2016-04-22,5
75,10974,2016-03-25,3
76,11038,2016-04-21,1
77,10992,2016-04-01,1
78,11003,2016-04-06,3
79,10967,2016-03-23,2
80,11069,2016-05-04,1
81,10839,2016-01-19,3
82,10822,2016-01-08,6
83,10994,2016-04-02,2
84,10850,2016-01-23,1
85,10739,2015-11-12,3
86,11046,2016-04-23,8
87,11025,2016-04-15,6
88,10935,2016-03-09,4
89,11066,2016-05-01,7
90,11005,2016-04-07,2
91,11044,2016-04-23,4

6) **Customers who placed orders in 2015 but not in 2016**

```
custid      companyname
----------- ----------------------------------------
21          Customer KIDPX
23          Customer WVFAF
33          Customer FVXPQ
36          Customer LVJSO
43          Customer UISOJ
51          Customer PVDZC
85          Customer ENQZT

(7 row(s) affected)
```

In [48]:
use Northwinds2022TSQLV7

--customers who placed orders in 2015
-- select CustomerId
-- from Sales.[Order] as O 
-- where YEAR(OrderDate) = 2015 

--customers who placed order in 2016
-- select CustomerId
-- from Sales.[Order] as O 
-- where YEAR(OrderDate) = 2016

--gets customers
select CustomerId as custid,
    CustomerCompanyName as companyname
from Sales.Customer as C
where exists (
    select * from Sales.[Order] as O
    where YEAR(OrderDate) = 2015 and O.CustomerId = C.CustomerId
) 
and not exists (
    select * from Sales.[Order] as O 
    where YEAR(OrderDate) = 2016 and O.CustomerId = C.CustomerId
)
order by custid

custid,companyname
21,Customer KIDPX
23,Customer WVFAF
33,Customer FVXPQ
36,Customer LVJSO
43,Customer UISOJ
51,Customer PVDZC
85,Customer ENQZT

9) **The difference between IN and EXISTS is that** IN runs once before the outer query is executed. It returns a set of values and the outer query uses it as input. (Can be used to find correlated rows between outer and inner query, same as EXISTS). EXISTS instead runs once for every row returned by the outer query. So if we retrieve all 9 employees and want to check some existence for each one we can use EXISTS (ex: retrieve all 9 employees and then for each one see if a record of a correlating orderid exists. Therefore EXISTS returns a boolean value, if false we wont return the associated row from the outer query. More efficient than IN